<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jp.co.kuma.mapper.OrderDetailMapper">

    <insert id="insertItem">
        insert into order_detail
        (order_id, name, image, dish_id, setmeal_id, dish_spec, number, price, amount)
        values (#{orderId}, #{name}, #{image},
                #{dishId}, #{setmealId}, #{dishSpec}, #{number}, #{price}, #{amount})
    </insert>

</mapper>
